@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button, input, body{
  font-family: "Josefin Slab", serif;
}
body{
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}
